.notifications {
  border: 1px solid #333;
  position: absolute;
  top: 5%;
  right: 20%;
}

.notifications__header {
  background-color: yellow;
  padding: 0.5rem 1rem;
}

.notification__items-wrapper {
  padding: 1rem;
}

.notification__items {
  list-style: none;
  margin: 0;
  padding: 0;
}
