.person-card {
    border: 3px solid pink;
    border-radius: 8px;
    padding: 8px;
}

.mb-1 {
    margin-bottom: 10px;
}

.page1 {
    background-color: rgb(189, 255, 233);
}

.page2 {
    background-color: rgb(255, 224, 167);
}